@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Cyberpunk look */
body {
  background-color: black;
  color: #00ff00;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #001100;
}
::-webkit-scrollbar-thumb {
  background: #004400;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ff00;
}
